# Global ignore
.DS_Store
*.log
node_modules/
npm-debug.log*
yarn-error.log*
.venv/
venv/
.env

# Ignore pycache
__pycache__/
**/__pycache__
**/__pycache__/
flask_app/__pycache__/


# Ignore package lock and yarn lock files
/backend/Pipfile.lock
/frontend/package-lock.json
/frontend/yarn.lock

# Ignore IDE specific settings
.vscode/
.idea/
*.swp
*~ 
