body {
    background-color: #f8f9fa;
}
.login-container {
    max-width: 400px;
    margin: auto;
    margin-top: 10vh;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Make cursor pointer when hovering over events in calendar */
.fc-event, .fc .fc-event {
    cursor: pointer;
}