body {
    background-color: #f8f9fa;
}

/* Style for the login/signup container */
.login-container {
    max-width: 400px;
    margin: auto;
    margin-top: 10vh;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Make cursor pointer when hovering over events in calendar */
.fc-event, .fc .fc-event {
    cursor: pointer;
}

/* Make cursor pointer when hovering over day numbers and day headers */
.fc-daygrid-day-number:hover,
.fc-col-header-cell-cushion:hover {
    cursor: pointer;
}

/* Style for the calendar */
.fc-daygrid-day-number,
.fc-col-header-cell-cushion {
    color: #000 !important; 
    text-decoration: none !important;
}